.courseDetailMain{
    position: relative;
    .detailtCard{
        position: fixed;
        top: 108px;
        right: 100px;
        z-index: 100;
        width: 364px;
        border-radius: 6px;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.16);
        background-color: #fff;
        .informationTextWarp{
            padding: 16px;
            .categoryLabel{
                margin-right: 8px;
            }
            .itemTitle{
                height: auto;
                padding: 0;
                color: #555555;
                font-size: 18px;
                margin-bottom: 16px;
            }
            .author{
                display: block;
                font-size: 14px;
                color: #B7B7B7;
                margin: 0;
                &::before{
                    content: "";
                    display: inline-block;
                    width: 18px;
                    height: 16px;
                    margin-right: 8px;
                    background-image: url(../../../assets/images/profile-icon-gray.svg);

                }
            }
            .price{
                font-size: 40px;
                color: #555555;
                font-weight: bold;
                text-align: end;
                margin-bottom: 24px;
            }
            .purchaseBtn{
                display: block;
                width: 218px;
                font-size: 16px;
                padding: 16px 0;
                border-radius: 28px;
                background-color: #B21B55;
                color: white;
                margin: 0 auto 16px;
                font-weight: bold;
            }
            .supplement{
                font-size: 12px;
                color: #2C2C2C;
                text-align: center;
                margin-bottom: 16px;
            }
            .BtnWarp{
                width: 100px;
                height: 34px;
                // padding: 8px 0;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                .heartBtn,.cartBtn{
                    display: block;
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                }
                .heartBtn{
                    display: block;
                    background-color: #323661;
                    &:nth-of-type(2){
                        background-color: #B21B55;
                    }
                }
                

            }
            

        }

    }
    
    .courseContentsWarp{
        color: #fff;
        background-color: #2C2C2C;
        padding: 0 100px;

    }
    .courseContents{
        width: calc(100% - 437px);
        
    }
    .firstContents{
        height: 400px;
        padding: 56px 0;
        .categoryLabel{
            background-color: white;
            &:first-of-type{
                margin-right: 16px;
            }
        }
        h2{
            margin-top: 24px;
        }

        .innerAuthorTimeWarp{
            display: flex;
            margin-top: 16px;
            p{
                margin-right: 40px;
            }
        }
        .mainText{
            margin-top: 36px;
        }
        

    }
    .othersContents{
        padding: 60px 100px;
        .title{
            color: #B21B55;
            font-size: 26px;
            border-bottom: solid 1px #D9D9D9;
            margin-bottom: 32px;
        }
        .detailtText{
            font-size: 18px;
            color: #2C2C2C;
        }
        .subTitle{
            padding: 23px 0 23px 72px;
            background-color: #EBDCE2;
            border: solid 1px #BCBCBC;
            font-size: 18px;
        }
        .courseListWarp{
            width: 100%;
        
            &__item{
                display: grid;
                grid-template-columns: 72px 1fr 100px;
                padding: 21px 0;
                font-size: 14px;
                span{
                    text-align: center;
                    color: #B21B55;
                }
                time{
                    color: #BCBCBC;
                }
            }
        }

        .authorInformation{
            padding: 36px 16px;
            border: solid 1px #BCBCBC;
            display: flex;
            &__imgWarp{
                width: 117px;
                height: 117px;
                background-color: #555555;
                border-radius: 50%;
            }
            &__textWarp{
                padding-left: 38px;
                .name{
                    font-size: 18px;
                    font-weight: bold;
                    padding: 16px 0;
                }
            }
        }

    }
}





