
.itemCard{
    width: 312px;
    height: 337px;
    cursor: pointer;
    margin-bottom: 72px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.16);
    position: relative;
}





