.listsContent{
    position: relative;
    z-index: 100;
    background-color: #fff;
    .categoryBtn{
        background-color: #B21B55;
        color: #fff;
    }
    .classBtn{
        background-color: #323661;
        color: #fff;
    }
    .categoryWarp{
        .item{
            &:hover{
                background-color: rgba($color: #B21B55, $alpha: 0.7);
                color: #fff;
            }
        }
        
    }
    .classWarp{
        .item{
            &:hover{
                background-color: rgba($color: #323661, $alpha: 0.7);
                color: #fff;
            }
        }
        
    }
    .classSelect{
        background-color: #B21B55;
    }
    .categoryLists{
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        &__item{
            width: 224px;
            padding: 13px 16px;
            background-color: #fff;
            transition: .1s;
            cursor: pointer;
            
        }
        
    }
}

